<!-- Caroussel component -->
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
    <img class='img-fluid' [src]="images[0]" alt="First slide">
    <div class="carousel-caption">
        <h3 class="main-line">Meet with others</h3>
        <p class="main-description">Find other people passionate on the health lifestyle.</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
    <img class='img-fluid' [src]="images[1]" alt="Second slide">
    <div class="carousel-caption">
        <h3 class="main-line">Share your workouts</h3>
        <p class="main-description">Post about your routines and fitness tips</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
    <img class='img-fluid' [src]="images[2]"  alt="Third slide">
    <div class="carousel-caption">
        <h3 class="main-line">Find the right coaches</h3>
        <p class="main-description" >More than 10000 coaches and counting</p>
    </div>
    </ng-template>
</ngb-carousel>

<!-- Cards component -->
<section class="card-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 card-container">
                <div class="card-box">
                    <div class="icon-box">
                        <img class="icon-img" src="../../assets/icons/dumbbell.png" alt="icon-1">
                    </div>
                    <div class="text-container">
                        <div class="col text-box">
                            This is a nice text that fits in 2 lines
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 card-container">
                <div class="card-box">
                    <div class="icon-box">
                        <img class="icon-img" src="../../assets/icons/fitness.png" alt="icon-2">
                    </div>
                    <div class="text-container">
                        <div class="col text-box">
                            This is a nice text that fits in 2 lines
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card-container">
                <div class="card-box">
                    <div class="icon-box">
                        <img class="icon-img" src="../../assets/icons/trainer.png" alt="icon-3">
                    </div>
                    <div class="text-container">
                        <div class="col text-box">
                            This is a nice text that fits in 2 lines
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <br>
    dsadsadas
</div>