.container-home {

}

.img-fluid {
    width: 100%;
    height: 400px;
    opacity: 0.8;
}

.carousel-item {
    width: 99%;
    overflow-x: hidden;
  }

  .main-line {
    font-size: 2.5rem;
    font-weight:500
  }
  
  .main-description {
    font-size: 1.25rem;
  }

  .card-container {
    text-align: center;
  }

  .card-box {
    border: 1px solid #189AB4;
  }