.logo {
    color: white;
    font-size: 40px;
    padding-left: 40px;
    font-weight: bold;
}

.nav-item-tag {
    color: white;
    border: 2px solid white;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none
}

.nav-item-tag:hover {
    background: #05445E;
}

.nav-item-tag:active {
    background: #05445E;
}

.navbar-right-item {
    padding-right: 30px;
}

.btn-login {
    margin-right: 25px;
}

.btn-signup {
    margin-right: 25px;
}

