.logo {
    color: white;
    font-size: 40px;
    padding-left: 40px;
    font-weight: bold;
}

.nav-item-tag {
    color: white;
    border: 2px solid white;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none
}

.nav-item-tag:hover, .nav-item-tag:focus {
    background: #189AB4;
}

.nav-item-tag:active {
    background: #189AB4;
}

.navbar-right-item {
    padding-right: 30px;
}

.btn-login {
    margin-right: 25px;
}

.btn-signup {
    margin-right: 25px;
}

.navbar-toggler {
    margin-right: 10px;
}

.dropdown-menu.show {
    left: -100px;
    border-radius: 0px;
}

@media screen and (max-width: 767px) {
    .nav-item-tag {
        color: white;
        border: none;
        font-weight: 500;
        font-size: 20px;
        margin: 10px;
        padding: 10px 15px;
        border-radius: 0;
        text-decoration: none;
        border-bottom: none !important;
    }

    .navbar-right-item {
        padding-right: 0;
        border-top: 1px solid white;
    }

    .nav-item {
        border-bottom: 1px solid white;
        padding: 10px 0;
    }

    #header {
        padding-bottom: 0
    };
  }
