
<div class="container-fluid">
    <div class="box-container">
        <div class="form-container">
            <div class="row">
                <div class="col title">
                    Password Reset
                </div>
            </div>
            <div class="row">
                <div *ngIf="error" class="col">
                    <div class="alert-error">
                        {{ error }}
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col">
                        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input formControlName="password" type="password" id="password" class="form-control">
                                <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched"  class="alert-box">
                                    <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</div>
                                    <div *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">Should have 1 Upper, 1 special and 1 number.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password</label>
                                <input formControlName="confirmPassword" type="confirmPassword" id="confirmPassword" class="form-control">
                                <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"  class="alert-box">
                                    <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Password is required.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col submit-btn">
                                    <button type="submit" class="btn reg-btn">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>