<div class="container-fluid">
    <div class="box-container">
        <div class="form-container">
            <div class="row">
                <div class="col title">
                    SIGN UP
                </div>
            </div>
            <div class="row">
                <div *ngIf="error" class="col">
                    <div class="alert-error">
                        {{ error }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="create-post-form" [formGroup]="signUpForm" (ngSubmit)="createUser()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstName">Name</label>
                                    <input formControlName="firstName" type="text" id="firstName" class="form-control ">
                                    <div *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched"  class="alert-box">
                                        <div *ngIf="signUpForm.get('firstName')?.errors?.['required']">Name is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input formControlName="lastName" type="text" id="lastName" class="form-control">
                                    <div *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched"  class="alert-box">
                                        <div *ngIf="signUpForm.get('lastName')?.errors?.['required']">Last name is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="radio-btn">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Male
                                <label class="form-check-label" for="radio1"></label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Female
                                <label class="form-check-label" for="radio2"></label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Other
                                <label class="form-check-label" for="radio3"></label>
                              </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" type="email" id="email" class="form-control">
                            <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"  class="alert-box">
                                <div *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</div>
                                <div *ngIf="signUpForm.get('email')?.errors?.['email']">Must be an email.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" id="password" class="form-control">
                            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"  class="alert-box">
                                <div *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</div>
                                <div *ngIf="signUpForm.get('password')?.errors?.['pattern']">Password should be: <br>More than 9 characters <br>Have at least 1 uppercase <br>Have at least 1 number<br>Have at least 1 lowercase</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control">
                            <div *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched"  class="alert-box">
                                <div *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">Passwords must match.</div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input formControlName="termsAndCon" class="form-check-input" type="checkbox" id="termsAndCon">
                            <label class="form-check-label">Terms & Conditions</label>
                            <div *ngIf="signUpForm.get('termsAndCon')?.invalid && signUpForm.get('termsAndCon')?.touched"  class="alert-box">
                                <div *ngIf="signUpForm.get('termsAndCon')?.errors?.['required']">Terms and Conditions must be checked</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col submit-btn">
                                <button type="submit" class="btn reg-btn" [disabled]="clicked">
                                    <app-loading-spinner *ngIf="spinner"></app-loading-spinner>
                                    <div *ngIf="!spinner">Sign Up</div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="already-user">
                Already have an account? <a routerLink="/login">Log in</a>
            </div>
        </div>
    </div>
</div>

