<div class="container">
    <div class="profile-section">
        <div class="row">
            <div class="col-md-5">
                <img class="icon-img" 
                src="../../assets/icons/user.png" 
                alt="icon-1" 
                width="350" 
                height="450">
            </div>
            <div *ngIf="profileUser" class="col-md-7">
                <div class="row">
                    <div class="col">
                        {{ profileUser.firstName }}  {{ profileUser.lastName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ profileUser.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       Has been a user since: {{ profileUser.created_on | date }}
                    </div>
                </div>
                <div *ngIf="(user?.userId != profileUser.userId)" class="add-user">
                    <button *ngIf="!areFriends" class="btn reg-btn" (click)="addFriend()">
                        Add to friends
                    </button>
                    <button *ngIf="areFriends" class="btn reg-btn" (click)="removeFromFriends()">
                        Remove from friends
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="posts-section">
        <div *ngIf="!areFriends" class="row">
            <div class="col">
                <h2>Need to be friends with {{ profileUser?.firstName }} to see her posts</h2>
            </div>
        </div>
        <div *ngIf="areFriends" class="row">
                <div class="col posts-container">
                    <h2 *ngIf="posts.length > 0">Posts</h2>
                    <div *ngFor="let post of posts; let i = index" class="post-container">
                        <div class="row">
                            <div class="col">
                                <div class="post-date">Post created by {{ post.first_name }} {{ post.last_name}} on {{ post.created_data | date }}</div>
                                <div class="post-title"> {{ post.post_title }}</div>
                                <div class="options-row">
                                        <!-- <button class="btn option-btn" (click)="getPost(post.post_id!)">VIEW</button> -->
                                        <!-- <button class="btn option-btn edit-btn">EDIT</button>
                                        <button class="btn option-btn delete-btn" (click)="deletePost(post.post_id!, i)">DELETE</button>    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="posts.length == 0">
                        <h2>User has no posts yet</h2>
                    </div>
                </div> 
        </div>
    </div>
</div>

