

.reg-btn {
    color: white;
    border: 2px solid white;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #05445E;
    display: flex;
    justify-content: center;
}

.create-post {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.post-container {
    border: 3px solid #05445E;
    border-radius: 5px;
    padding: 20px;
    margin: 0 90px;
    margin-bottom: 70px;
}

.post-date {
    font-size: 15px;
    font-weight: 500;
    color: #05445E;
    float: right;
}

.post-name {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}

.post-profile-img {
    display: inline-block;
}

.post-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-img {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.post-feedback {
    display: inline-flex;
    margin-right: 15px;
    cursor: pointer;
}

.feedback-count {
    margin-left: 6px;
}



.options-row {
    display: flex;
    justify-content: flex-end;
}

.option-btn {
    font-size: 25px;
    font-weight: 500;
    color: #05445E;
    margin: 0 15px;
}

.option-btn:hover, .option-btn:focus {
    background: #189AB4;
}

.option-btn:active {
    background: #189AB4;
}

.edit-btn {
    color: green;
}

.delete-btn {
    color: red;
}