<div class="container-fluid">
    <div class="box-container">
        <div class="form-container">
            <div class="row">
                <div class="col title">
                    Forgot Password
                </div>
            </div>
            <div class="row">
                <div *ngIf="error" class="col">
                    <div class="alert-error">
                        {{ error }}
                    </div>
                </div>
            </div>
            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
            </div>
            <div class="row" *ngIf="!successMessage">
                <div class="col">
                    <form class="form" [formGroup]="emailForm" (ngSubmit)="resetPassword()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" type="email" id="email" class="form-control">
                            <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched"  class="alert-box">
                                <div *ngIf="emailForm.get('email')?.errors?.['required']">Email is required.</div>
                                <div *ngIf="emailForm.get('email')?.errors?.['email']">Must be an email.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col submit-btn">
                                <button type="submit" class="btn reg-btn">Reset password</button>
                            </div>
                        </div>
                        <div class="go-login">
                            Or <a routerLink="/login">Log in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
